<h1> Create Event </h1>
<div class='sidebyside'>
  <div class='createEventForm'>
    <%= form_for(Event.new) do |e| %>
    <%= e.label :title %> <br>
    <%= e.text_field :title, :required => true %> <br>

    <%= e.hidden_field :host, :value => current_user.id %>

    <%= e.label :location %> <br>
    <%= e.text_field :location %> <br>

    <%= e.label :description %> <br>
    <%= e.text_area :description %> <br>

    <%= e.submit %>
    <% end %>
  </div>

  <div id='createEventCalendar'></div>

</div>
