<h1> Create Event </h1>
<div class='sidebyside'>
  <div class='left30'>
    <%= form_for(Event.new,  :html => {:id => "eventCreateForm"}) do |e| %>

    <%= e.label :group %>
    <%= e.collection_select(:group_id, Group.joins(:memberships).where(memberships: {user_id: current_user.id}), :id, :name) %> <br>

    <%= e.label :title %> <br>
    <%= e.text_field :title, :required => true %> <br>

    <%= e.hidden_field :host_id, :value => current_user.id %>
    <%= e.label :location %> <br>
    <%= e.text_field :location %> <br>

    <%= e.label :description %> <br>
    <%= e.text_area :description %> <br>

    <%= e.hidden_field :isFinal, :value => false %>
    <%= e.submit "Create Event" %>
    <% end %>
  </div>

  <div class='right70'>
    <div class='calendar' id='createEventCalendar'></div>
  </div>
</div>
