<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<link rel='stylesheet' href= '~/app/assets/stylesheets/fullcalendar.css' />
    <script src='~/lib/assets/jquery.min.js'></script>
    <script src='~/lib/assets/moment.min.js'></script>
    <script src= '~/app/assets/javascripts/fullcalendar.js'></script>-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
      <%= button_to "Logout", logout_path, method: "delete" %>
    <% end %>
  </body>
</html>
